#main-footer.footer
    .container
        #footer-info
            #phone.footer-item.col-lg-3
                .footer-img
                .footer-text
                    p.
                        (044) 500-76-90
                        (067) 892-04-01
                        (063) 288-97-22
            #email.footer-item.col-lg-3
                .footer-img
                .footer-text
                    p manager@reclamare.com.ua
            #skype.footer-item.col-lg-3
                .footer-img
                .footer-text
                    p skype: reclamare-ua
            #adress.footer-item.col-lg-3
                .footer-img
                .footer-text
                    p.
                        г.Киев,
                        Сурикова, 3 корп 8-Б

        #footer-social
            #vk.social-item
            #tw.social-item
            #fb.social-item
        #footer-copiright.fwight
            p.
                2011 – 2016 «Веб-студия Reclamare». "RECLAMARE" является зарегистрированной торговой маркой. Все права защищены. Копирование или использование материалов сайта запрещено.


