header
    #top
        .container
            #logo.col-lg-2
                img(src=imgPath+"logo.png")
            #contact.col-lg-10
                .contact-items
                    ul
                        li.contact-item.contact-em
                            p tk@reclamare.com.ua
                        li.contact-item.contact-ph
                            p +38 (067) 892-04-01
                    ul
                        li.contact-item.contact-ad
                            p Киев, пер.Островского 1
                        li.contact-item.contact-sk
                            p kate-reclamare
    .top-content
        .container
            .top-text.col-lg-8
                .top-text-large
                    h1 КОМПЕНСИРУЕМ ДО 1500 ГРН
                .top-text-less
                    h3 НА РЕКЛАМУ В GOOGLE ADWORDS
            .top-img.col-lg-4
                img(src=imgPath+"rocket.png")

