html,
body,
ul,
ol,
p {
  margin: 0;
  padding: 0; }

html, body {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  width: 100% !important;
  border: none; }

.top {
  height: 130px;
  background-color: #21a6fa; }

.container {
  max-width: 1128px;
  margin: auto; }

.logo {
  float: left;
  padding-top: 18px; }

.contact {
  color: white;
  float: right;
  padding-top: 18px; }
  .contact ul {
    padding-top: 18px;
    list-style: none; }
  .contact li {
    display: inline-block; }
    .contact li:first-child {
      padding-right: 70px; }

.contact-item {
  padding-bottom: 18px; }
  .contact-item p {
    float: right;
    padding-left: 10px; }
  .contact-item img {
    height: 15px; }

.top-content {
  background-color: #009cff;
  height: 348px; }

.top-text {
  float: left;
  padding-top: 93px; }

.top-img {
  float: right;
  position: inherit;
  padding-top: 34px; }

.top-text-large {
  font-size: 39px;
  font-weight: bolder;
  color: white; }

.top-text-less {
  font-size: 28px;
  font-weight: bolder;
  color: white;
  padding-top: 30px; }

.fearutes {
  padding-top: 72px;
  padding-bottom: 70px;
  color: #777373;
  font-size: 15px; }

.top-items.item {
  float: left;
  text-align: center; }

.item-top, .item-bottom {
  width: 302px; }

.line-top-left {
  width: 110px;
  margin-top: -14px;
  float: right; }
  .line-top-left hr {
    border-top: 1px solid #d3d3d3; }
  .line-top-left hr {
    width: 110px;
    -webkit-transform: rotate(-150deg);
    -moz-transform: rotate(-150deg);
    -ms-transform: rotate(-150deg);
    -o-transform: rotate(-150deg); }

.line-top-right {
  width: 110px;
  margin-top: 47px; }
  .line-top-right hr {
    border-top: 1px solid #d3d3d3; }
  .line-top-right hr {
    width: 110px;
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg); }

.line-top-r {
  float: right; }

.line-top-l, .line-top-r {
  width: 200px; }
  .line-top-l hr, .line-top-r hr {
    border-top: 1px solid #d3d3d3; }

.line-top-center {
  width: 200px;
  margin: auto; }
  .line-top-center hr {
    border-top: 1px solid #d3d3d3; }

.line-center-left {
  width: 84px;
  float: right; }
  .line-center-left hr {
    border-top: 1px solid #d3d3d3; }
  .line-center-left hr {
    margin-top: 11px; }

.line-center-right {
  width: 84px; }
  .line-center-right hr {
    border-top: 1px solid #d3d3d3; }
  .line-center-right hr {
    margin-top: 11px; }

.center-left, .center-right {
  margin-top: 230px; }

.center-right-text {
  float: right; }

.center-left-text, .line-center-right {
  float: left; }

.img-google img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 50px; }

.bottom-items {
  text-align: center; }
  .bottom-items hr {
    border-top: 1px solid #d3d3d3; }

.line-bottom-l, .line-bottom-center, .line-bottom-r {
  width: 200px; }

.line-bottom-center {
  margin: auto; }

.line-bottom-left {
  width: 110px;
  float: right; }
  .line-bottom-left hr {
    width: 110px;
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg); }
  .line-bottom-left hr {
    margin-top: -48px; }

.line-bottom-right {
  width: 110px;
  float: left; }
  .line-bottom-right hr {
    width: 110px;
    -webkit-transform: rotate(-150deg);
    -moz-transform: rotate(-150deg);
    -ms-transform: rotate(-150deg);
    -o-transform: rotate(-150deg); }
  .line-bottom-right hr {
    margin-top: -48px; }

.line-bottom-r {
  float: right; }

.bottom-right-text {
  float: right; }

.advertising {
  height: 192px;
  background-color: #e88136;
  color: white; }
  .advertising p {
    margin-top: 45px; }

.order-form {
  background-color: #032649; }

.rocketmen {
  position: inherit;
  margin-top: -25px;
  float: left; }

.order-f {
  height: 423px;
  width: 840px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  margin-top: 143px;
  margin-left: 192px; }

.order-blank {
  text-align: center;
  padding-top: 37px; }
  .order-blank p {
    color: #e88136;
    font-size: 33px; }
  .order-blank input {
    width: 340px;
    border-radius: 5px;
    margin: 12px;
    height: 47px;
    border: 1px solid #d3d3d3;
    padding-left: 25px; }

.keywords input {
  height: 192px; }
