$weight:bolder;
$color-light-grey:#d3d3d3;
@mixin large-text {
  font: {
    size: 39px;
    weight: $weight;
  };
  color: $white;
}
@mixin  less-text{
  font:{
    size: 28px;
    weight: $weight;
  };
  color: $white;
}
@mixin border-color {
  hr{
  border-top:1px solid $color-light-grey ;
  }
}
@mixin line-up {
  hr {
    width: $line-width-rotate;
    -webkit-transform:rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
  }
}
@mixin line-down{
  hr {
    width: $line-width-rotate;
    -webkit-transform:rotate(-150deg);
    -moz-transform: rotate(-150deg);
    -ms-transform: rotate(-150deg);
    -o-transform: rotate(-150deg);
  }
}