@import "reset";
@import "mixins";
$top-color:#21a6fa;
$top-content-color:#009cff;
$white: white;
$feature-color:#777373;
$line-width:200px;
$line-width-rotate:110px;
$orange:#e88136;
.top {
  height: 130px;
  background-color: $top-color;
}
.container {
  max-width: 1128px;
  margin: auto;
}
.logo {float: left;
padding-top: 18px;}
.contact {
  color:$white;
  float: right;
  padding-top: 18px;
  ul {
    padding-top: 18px;
    list-style: none;
  }
  li { display: inline-block;
    &:first-child{
      padding-right: 70px;
    }
 }
}
.contact-item{
  p {
    float: right;
    padding-left: 10px;
  }
  img{
    height: 15px;
  }
  padding-bottom: 18px;
}
.top-content{
  background-color: $top-content-color;
  height:348px ;
}
.top-text{
  float: left;
  padding-top:93px;
}
.top-img{float: right;
position: inherit;
padding-top: 34px;}
.top-text-large{  @include large-text;}
.top-text-less{@include  less-text;
padding-top: 30px;}
.fearutes{
  padding-top:72px ;
  padding-bottom: 70px;
  color:$feature-color;
  font-size:15px;
};
.top-items{
  &.item {
    float: left;
    text-align: center;
  }
}
.item-top,.item-bottom {
  width: 302px;
}
.line-top-left {
  width: $line-width-rotate;
  margin-top: -14px;
  float: right;
  @include border-color;
  @include line-down;
}
.line-top-right{
  width: $line-width-rotate;
  margin-top: 47px;
  @include border-color;
  @include line-up;

}
.line-top-r{float: right;}
.line-top-l,.line-top-r{@include border-color;
  width: $line-width;
}
.line-top-center{
  @include border-color;
  width: $line-width;
  margin: auto;
}

.line-center-left {
  @include border-color;
  width: 84px;
  float: right;
  hr{
    margin-top: 11px;
  }
}
.line-center-right{
  @include border-color;
  width: 84px;
  hr{
    margin-top: 11px;
  }
}
.center-left,.center-right{
  margin-top: 230px;
}
.center-right-text{
  float: right;
}
.center-left-text,.line-center-right {
  float: left;
}
.img-google img{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: 20px;
  margin-bottom: 50px;
}
.bottom-items{
  @include border-color;
  text-align: center;
}
.line-bottom-l,.line-bottom-center,.line-bottom-r {
  width: $line-width;
}
.line-bottom-center{margin: auto;}
.line-bottom-left{
  @include line-up;
  width: $line-width-rotate;
  float: right;
  hr {
    margin-top: -48px;
  }
}
.line-bottom-right {
  @include line-down;
  width: $line-width-rotate;
  float: left;
  hr {
    margin-top: -48px;
  }
}
.line-bottom-r{
  float: right;
}
.bottom-right-text{
  float: right;
}
.advertising
{
  height: 192px;
  background-color:$orange ;
  color: $white;
  p {
    margin-top: 45px ;
  }
}
.order-form{
  background-color:#032649;
}
.rocketmen {
  position: inherit;
  margin-top: -25px;
  float: left;
}
.order-f {
  height: 423px;
  width: 840px;
  background-color: $white;
  border-radius: 10px;
  position: absolute;
  margin-top: 143px;
  margin-left: 192px;
}
.order-blank{
  text-align: center;
  padding-top: 37px ;
  p {
    color: $orange;
    font-size: 33px;
  }
  input {
    width: 340px;
    border-radius: 5px;
    margin: 12px;
    height: 47px;
    border:1px solid $color-light-grey ;
    padding-left: 25px;
  }
}
.keywords input {
  height: 192px;
}