$top-color:#21a6fa;
$top-content-color:#009cff;
$white: white;
$feature-color:#777373;
$line-width:200px;
$line-width-rotate:110px;
$orange:#e88136;
$path:"./img";
$space-color:#032649;
$weight:bolder;
$color-light-grey:#d3d3d3;
$imgPath: '../img/';
$padding:15px 15px 0;