doctype html
html(lang="ru")

    head
        include ./inc/_head
    body
        include ./inc/_header

        .fearutes
            .container
                .row.top-items
                    .item.col-lg-4
                        .item-top
                            p Проводим анализ вашего сайта
                            .line-top-l
                                hr
                            .line-top-left
                                hr
                    .item.col-lg-4
                        .item-top
                            p Подбираем ключевые слова, которые будут продавать
                            .line-top-center
                                hr
                    .item.col-lg-4
                        .item-top
                            .top-right-text
                                p Настройка конверсий
                            .line-top-r
                                hr
                            .line-top-right
                                hr
                .row.center-items
                    .item.col-lg-3
                        .center-left
                            .center-left-text
                                p Минус-словa
                            .line-center-left
                                hr
                    .item.col-lg-6.img-google
                        img(src=imgPath+"google-img.png")
                    .item.col-lg-3
                        .center-right
                            .center-right-text
                                p Акции
                            .line-center-right
                                hr
                .row.bottom-items
                    .item.col-lg-4
                        .item-bottom
                            .line-bottom-l
                                hr
                            .line-bottom-left
                                hr
                            p Улучшаем позицию обьявлений

                    .item.col-lg-4
                        .item-bottom
                            .line-bottom-center
                                hr
                            p Снижаем стоимость клика
                    .item.col-lg-4
                        .item-bottom
                            .line-bottom-r
                                hr
                            .line-bottom-right
                                hr
                            .bottom-right-text
                                p Ремаркетинг

        .advertising
            .container
                p.
                    Контекстная реклама - это самый оперативный и простой способ првлечения целевой аудитории на сайт.
                    Если настройка контекстной рекламы была проделана верно, то первый клиент из Google Awords или
                    Яндекс Директ, придет в первий день показа рекламы.
        .order-form
            .container
                .rocketmen
                    img(src=imgPath+"rocketmen.png")
                .order-f
                    .order-blank
                        p РАСЧЕТ СТОИМОСТИ
                        .row
                            .col-lg-6
                                input(type="text" placeholder="Ваше имя")
                                input(type="text" placeholder="Контактный телефон")
                                input(type="text" placeholder="E-mail")
                                input(type="text" placeholder="Ссылка на сайт")
                            .col-lg-6
                                .keywords
                                    input(type="textarea"  placeholder="Ключевые слова, время показа и пр.")
                                .button-rocket
                                    input(type="button")




