-var cssPath = './css/'
-var bootstrapPath = './css/bootstrap-3.3.6-dist/css/'
-var imgPath='./img/'
meta(charset="utf-8")
meta(name="viewport")
link(rel="stylesheet" href=bootstrapPath+"bootstrap.min.css")
link(rel="stylesheet" href=cssPath+"styles.css")
title Reclamare